<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <script src="/static/js/dismiss.js"></script>
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body> 
    <main>
        <div class="form-wrapper">
            <div class="color-bar">
                <div id="stage1"></div>
                <div id="stage2"></div>
                <div id="stage3"></div>
            </div>
            <form method="POST">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% for category, msg in messages %}
                        <div class="alert alert-{{category}}">
                            {{msg}}
                            <button type="button" class="dismiss-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endwith %}
                {% block form %}{% endblock %}
            </form>
        </div>
    </main>
</body>
</html>