<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <title>Home</title>
</head>
<body class="grid"> 
    <header>
        {% include "nav.html" %}
    </header>
    <main>
        <section class="posts">
            <ul>   
                {% for post in posts %}
                    <li><a class="snippet" href="/post/{{post.hash}}">
                        <span>{{post.title}}</span>
                        <div>
                            <span class="tag author-tag">By {{post.username}}</span>
                        </div>
                    </a></li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>