{% extends "form.html" %}
{% block title %}Sign Up{% endblock %}
{% block form %}
<h1 class="type">Join Today.</h1>
<label for="email">Email:</label>
<input type="email" name="email" id="email">
<label for="username">Username:</label>
<input type="text" name="username" id="username">
<label for="password1">Password:</label>
<input type="password" name="password1" id="password1">
<label for="password2">Password Again:</label>
<input type="password" name="password2" id="password2">
<input type="submit" value="Sign Up">
{% endblock %}